<h1><f:translate key="LLL:EXT:hive_swiperjs_simple/Resources/Private/Language/locallang_db.xlf:tt_content.CType.hiveswiperjssimple_hive_swiperjs_simple" /></h1>

<f:if condition="{processedRow.tx_hiveswiperjssimple_configuration}">
    <strong><f:translate key="LLL:EXT:hive_swiperjs_simple/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hiveswiperjssimple_configuration" /></strong>
    {processedRow.tx_hiveswiperjssimple_configuration.0}<br>
</f:if>
<f:if condition="{processedRow.tx_hiveswiperjssimple_sliderpagination}">
    <strong><f:translate key="LLL:EXT:hive_swiperjs_simple/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hiveswiperjssimple_sliderpagination" /></strong>
    {processedRow.tx_hiveswiperjssimple_sliderpagination.0}<br>
</f:if>
<f:if condition="{processedRow.tx_hiveswiperjssimple_sliderautoplay}">
    <strong><f:translate key="LLL:EXT:hive_swiperjs_simple/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hiveswiperjssimple_sliderautoplay" /></strong>
    {processedRow.tx_hiveswiperjssimple_sliderautoplay}<br>
</f:if>
<f:if condition="{processedRow.tx_hiveswiperjssimple_slidershowarrows}">
    <strong><f:translate key="LLL:EXT:hive_swiperjs_simple/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hiveswiperjssimple_slidershowarrows" /></strong>
    {processedRow.tx_hiveswiperjssimple_slidershowarrows}<br>
</f:if>
<f:if condition="{processedRow.tx_hiveswiperjssimple_sliderloop}">
    <strong><f:translate key="LLL:EXT:hive_swiperjs_simple/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hiveswiperjssimple_sliderloop" /></strong>
    {processedRow.tx_hiveswiperjssimple_sliderloop}<br>
</f:if>
<f:if condition="{processedRow.tx_hiveswiperjssimple_sliderhashnavigation}">
    <strong><f:translate key="LLL:EXT:hive_swiperjs_simple/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hiveswiperjssimple_sliderhashnavigation" /></strong>
    {processedRow.tx_hiveswiperjssimple_sliderhashnavigation}<br>
</f:if>
<f:if condition="{processedRow.tx_hiveswiperjssimple_sliderelement}">
    <strong><f:translate key="LLL:EXT:hive_swiperjs_simple/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hiveswiperjssimple_sliderelement" />:</strong>
    <br>
    <f:for each="{processedRow.tx_hiveswiperjssimple_sliderelement}" as="item" iteration="i">
        <ul>
            <li>
                <f:if condition=" {item.tx_hiveswiperjssimple_elementbackendtitle}">
                    <f:then>
                        {item.tx_hiveswiperjssimple_elementbackendtitle} [{i.cycle}/{i.total}] (id={item.uid})<br/>
                    </f:then>
                    <f:else>
                        [No title] [{i.cycle}/{i.total}] (id={item.uid})<br/>
                    </f:else>
                </f:if>
            </li>
        </ul>
    </f:for>
</f:if>
