<div id="c-{data.uid}" class="tx_hive_swiperjs_simple{f:if(condition: data.tx_hiveovrttcontent_customcssclass, then: ' {data.tx_hiveovrttcontent_customcssclass}')}{f:if(condition: data.layout, then: ' frame-layout-{data.layout}')}{f:if(condition: data.frame_class, then: ' frame-{data.frame_class}')}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')} ">

    <!-- Swiper -->
    <div id="hive-swiperjs-simple--{data.uid}" class="swiper-container swiper-container--{data.uid}" data-uid="{data.uid}" data-configuration="{data.tx_hiveswiperjssimple_configuration}" data-autoplay="{data.tx_hiveswiperjssimple_sliderautoplay}" data-loop="{data.tx_hiveswiperjssimple_sliderloop}" data-hash-navigation="{data.tx_hiveswiperjssimple_sliderhashnavigation}" data-pagination-type="{data.tx_hiveswiperjssimple_sliderpagination}">
        <div class="swiper-wrapper">

            <f:for each="{data_tx_hiveswiperjssimple_sliderelement}" as="data_item" iteration="i">

                <f:if condition="{data_item.data_tx_hiveswiperjssimple_elementbgimage}">
                    <f:then>
                        <f:for each="{data_item.data_tx_hiveswiperjssimple_elementbgimage}" as="file">
                            <f:variable name="bgImg" value="/fileadmin/{file.originalFile.identifier}" />
                        </f:for>

                        <f:if condition="{data_item.data.tx_hiveswiperjssimple_elementbgposition}">
                            <f:then>
                                <f:variable name="bgPos" value="{data_item.data.tx_hiveswiperjssimple_elementbgposition}" />
                            </f:then>
                            <f:else>
                                <f:variable name="bgPos" value="center center" />
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:variable name="bgImg" value="" />
                        <f:variable name="bgPos" value="" />
                    </f:else>
                </f:if>

                <div class="slide--{i.cycle} {data_item.data.tx_hiveswiperjssimple_elementcssclass} swiper-slide" style="{f:if(condition: '{bgImg}', then: 'background-image: url({bgImg}); background-size: cover; background-repeat:no-repeat;', else: '')} {f:if(condition: '{bgPos}', then: 'background-position: {bgPos};', else: '')}" data-hash="{f:if(condition: '{data_item.data.tx_hiveswiperjssimple_elementpaginationtitle}', then: '{data_item.data.tx_hiveswiperjssimple_elementpaginationtitle}', else: 'slider{data.uid}-slide{i.cycle}')}" data-pagination-title="{f:if(condition: '{data_item.data.tx_hiveswiperjssimple_elementpaginationtitle}', then: '{data_item.data.tx_hiveswiperjssimple_elementpaginationtitle}', else: '{i.cycle}')}">

                    <f:if condition="{data_item.data_tx_hiveswiperjssimple_elementcontent}">
                        <f:for each="{data_item.data_tx_hiveswiperjssimple_elementcontent}" as="content_item">
                            <f:cObject typoscriptObjectPath="tt_content" data="{content_item.data}" table="tt_content" />
                        </f:for>
                    </f:if>

                </div>
            </f:for>
        </div>

        <f:if condition="{data.tx_hiveswiperjssimple_slidershowarrows} && {data_tx_hiveswiperjssimple_sliderelement -> f:count()} > 1">
            <!-- Add Arrows -->
            <div id="swiper-button-next--{data.uid}" class="swiper-button-next"></div>
            <div id="swiper-button-prev--{data.uid}" class="swiper-button-prev"></div>
        </f:if>

        <!-- Add Pagination -->
        <f:if condition="{data.tx_hiveswiperjssimple_sliderpagination} != 'nopagination' && {data_tx_hiveswiperjssimple_sliderelement -> f:count()} > 1">
            <div id="swiper-pagination--{data.uid}" class="swiper-pagination"></div>
        </f:if>

    </div>

</div>